html, body{
    background-color: bisque;
}
.header{
    text-align: center;
}
.Main{
    flex-grow: 1;
    background-color: azure;
}
.CourseMaterials,th,td{
    border: 1px solid;
    text-align: center;
    width: 50%;
}
.sidebar{
    background-color: bisque;
    height: 100%;
    margin-right: 40px;
}
.workshopdescription{
    margin: 40px;
}
.container{
    display: flex;
    height: 100%;
}
.schedule_div{
    height: 100%;
}
.schedule_table{ 
    display:inline-block;
}