{% extends 'core/base.html'%}


{% block title %} Embedded System Workshop {% endblock %}

{% block content %}
    <div>
        <div class="sidebar">
          <a class="active" href="{% url 'index'%}">Home</a>
          <a href="{% url 'lecture'%}">Lecture</a>
          <a href="{% url 'schedule'%}">Schedule</a>
          <!--<a href="">Reading</a>
          <a href="">Lab</a>
          <a href="">Extra Assignment</a>
          <a href="">Technical Docs</a>-->
        </div>
        <div class="main-container">
            <h1 class="head1">Embedded System Design <br> <span class="subtitle">A simple hands-on approach</span> </h1>
            <br>
            <a href="https://docs.google.com/forms/d/1UbfkZLsE2Xm5EU9yF-FnypRJPpiIMcJHF3XQ7YF344s/edit" class="button">Register Here</a>
            <div class="container">
              <p class="content">Are you ready to dive into the exciting world of embedded systems? <br> Unlock your potential and master the art of designing innovative embedded solutions.</p>
              <p class="subtitle">What You'll Learn</p>
              <ul>
                <li class="content"><span style="color: var(--emphasis); font-weight: 500;">Microcontroller ARM Cortex M3</span><br><br> Discover the power of this versatile microcontroller and explore its capabilities for building embedded systems.</li>
                <br>
                <li class="content"><span style="color: var(--emphasis); font-weight: 500;">Embedded C</span><br><br>Learn the fundamentals of embedded C programming and gain hands-on experience in writing efficient and reliable code. Learn to design and debug code efficiently.</li>
                <br>
                <li class="content"><span style="color: var(--emphasis); font-weight: 500;">Basic Hardware Concepts</span><br><br>Develop a solid understanding of the key hardware components used in embedded systems and how they interact.</li>
                <br>
                <li class="content"><span style="color: var(--emphasis); font-weight: 500;">Protocols (UART, I2C, SPI, and CAN)</span><br><br>Master the communication protocols commonly used in embedded systems, enabling seamless data exchange.</li>
                <br>
                <li class="content"><span style="color: var(--emphasis); font-weight: 500;">Building Embedded Solutions</span><br><br>Acquire practical skills in designing and implementing embedded solutions, from concept to prototype.</li>
                <br>
                <li class="content"><span style="color: var(--emphasis); font-weight: 500;">Basic Job Description for Embedded Domain</span><br><br>Gain insights into the diverse opportunities and career paths available in the embedded industry.</li>
              </ul>
              <p class="subtitle">Prerequisites</p>
              <p class="content">To make the most of this course, it is recommend that you have basic knowledge of electronics, hardware, and C programming. This foundation will ensure you can fully engage with the course material and apply your skills effectively.</p>
             </div>
    </div>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
{% endblock %}