{%extends 'core/base.html' %}

{% block title %} Schedule {% endblock%}
{% block content %}
  <h1 class = "header">
    Embedded Sytem Design - A simple hands-on approach<br>
    Summer'23<br>
  </h1>
  <div class="container">
    <div class="sidebar">
      <P>
        <b>Materials</b><br>
        <ul>
            <li><a href="{% url 'index'%}">Home</a></li>
            <li><a href="{% url 'lecture'%}">Lecture</a></li>
            <li><a href="{% url 'schedule'%}">Schedule</a></li>
            <li><a href="">Reading</a></li>
            <li><a href="">Lab</a></li>
            <li><a href="">Extra Assignment</a></li>
            <li><a href="">Technical Docs</a></li>
        </ul>
      </P>
    </div>
    <div class = "Main">
      <div>
        <p align="center">
          <i>Register for the course here:<a href="https://forms.gle/E2nHbTQTY7UBEYQZ7">Click Here</a><br></i>
        </p>
      </div>
      <div style class="schedule_div">
        <table class = "schedule_table">
          <tr>
            <th>Day</th>
            <th>Topics to be covered</th>
          </tr>
          <tr>
            <td>12/06/2023</td>
            <td>Introduction to ARM Cortex M3 (LPC1768) Microcontroller and basic programming using Embedded C.
                <ul>
                    <li>Understanding basic initializations</li>
                    <li>Understanding clock initialization for CPU</li>
                    <li>Architecture of GPIOs, Configuring GPIOs and Programming GPIOs of LPC1768 Microcontroller to interface I/O devices<br>
                        (LEDs, Switches, Digital Sensors, LCD)</li>
                    <li>Evaluation task</li>
                </ul>
            </td>
            </tr>
            <tr>
                <td>13/06/2023</td>
                <td>Working with on-chip peripherals
                    <ul>
                        <li>Understanding clock initialization for peripherals ( ADC)</li>
                        <li>Architecture of on-chip ADC and its initialization.</li>
                        <li>Programming on-chip ADC</li>
                        <li>Implementation of Application using ADC</li>
                        <li>Introduction to how start working with other on-chip peripherals</li>
                        <li>Evaluation task</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>14/06/2023</td>
                <td>Introduction to Embedded System communication protocols - 1
                    <ul>
                        <li>Introduction to Embedded system communication protocols</li>
                        <li>Introduction to UART, RS-232, and RS-485</li>
                        <li>Understanding on-chip UARTs and its baud rate initialization</li>
                        <li>Transmitting and Receiving data using UART</li>
                        <li>Understanding the interfacing of technology modules like RFID card reader, GSM and GPS using UART as communication protocol</li>
                        <li>Evaluation task</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>15/06/2023</td>
                <td>Introduction to Embedded System communication protocols - 2
                    <ul>
                        <li>Introduction to SPI protocol, Mode of operation</li>
                        <li>Understanding on-chip SPI protocol and baud rate initialization </li>
                        <li>Programming SPI protocol to interface an off-chip ADC </li>
                        <li>Introduction to CAN protocol and it’s working</li>
                        <li>Understanding CAN protocol Initializations</li>
                        <li>Evaluation task</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>16/06/2023</td>
                <td>Introduction to Embedded System communication protocols - 3
                    <ul>
                        <li>Working with CAN protocols</li>
                        <li>Understanding Initialization of CAN registers</li>
                        <li>Communication between two ECUs using CAN controllers</li>
                        <li>Application using CAN protocols and MCU as ECU</li>
                        <li>Evaluation task</li>
                    </ul>
                </td>
            </tr>
        </table>
     </div>
    </div>

  </div>
{% endblock %}